
@font-face {
    font-family: "UniHeavy";
    src: url(../css/fonts/UniNeue-Heavy.ttf) format("truetype");
  }

  
  @font-face {
    font-family: "UniBold";
    src: url(../css/fonts/UniNeue-Bold.ttf) format("truetype");
  }

  
  @font-face {
    font-family: "UniReg";
    src: url(../css/fonts/UniNeue-Regular.ttf) format("truetype");
  }

    
  @font-face {
    font-family: "UniBlack";
    src: url(../css/fonts/UniNeue-Black.ttf) format("truetype");
  }

